
html {
  scroll-behavior: smooth;
}

.container {
  background: #2f6560;
  min-height: 30%;
  width: 75%;
  min-width: 270px;
  max-width: 570px;
  margin: 5% auto;
  text-align: center;
  padding: 5% 0 5% 0;
  filter: drop-shadow(5px 10px 5px rgba(28, 79, 73, 0.5));
  display: flex-start;
  justify-content: center;
  
}

h1,
p {
  color: #fff;
  max-width: 75%;
  text-align: center;
  margin: auto;
}

.fab {
  color: #fff;
  padding: 2%;
}

h1 {
  font-family: "Hammersmith One", sans-serif;
}

p,
input,
textarea,
button {
  font-family: "Questrial", sans-serif;
  padding: 0.25%;
}

h4 {
  color: #8ab4b1;
  font-family: "Hammersmith One", sans-serif;
}

a,
h3 {
  color: #fbac99;
  font-family: "Hammersmith One", sans-serif;
}

img {
  min-width: 60%;
  max-width: 80%;
}

.portfoliopiece {
  padding: 3%;
}

.input,
textarea {
  min-width: 220px;
  max-width: 300px;
  font-size: 1em;
  border-radius: 3px;
  border: none;
}

.column {
  margin: 5% auto;
}

.button {
  min-width: 220px;
  max-width: 300px;
  height: 40px;
  border: none;
  background-color: #498480;
  color: #ffffff;
  filter: drop-shadow(5px 10px 5px rgba(28, 79, 73, 0.5));
}

.scroll-to-top {
  background: none;
  border: none;
  display: flex;
  justify-content: center;
}

/* pure css lightbox experiment*/

.lightbox {
	/** Default lightbox to hidden */
	display: none;

	/** Position and style */
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	text-align: center;
  justify-content: center;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
}
  
.lightbox img {
	/** Pad the lightbox image */
	max-width: 90%;
	max-height: 80%;
	margin-top: 2%;
}

.lightbox:target {
	/** Remove default browser outline */
	outline: none;

	/** Unhide lightbox **/
	display: block;
}